:host {
  flex: 1 1 auto;
}

.carousel {
  display: flex;
  flex-direction: row;
  height: 510px;
}

.main-image-display {
  width: 80%;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}

.main-container-image {
  width: 100%;
  height: 100%;
}

.main-container-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main-image-lists {
  width: 20%;
  padding: 0 15px 0 15px;
  display: block;
  flex-direction: column;
  overflow-y: auto;
  -ms-overflow-style: none; /* for Internet Explorer and Edge */
  scrollbar-width: none; /* for Firefox */
  &::-webkit-scrollbar { /* for Chrome, Safari, and Opera */
    display: none;
  }
}

.main-image-items {
  width: 100%;
  height: 80px;
  border-radius: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.main-image-items-selected {
  background-color: #252525;
}

.main-image-items:hover {
  background-color: #252525;
}

.main-items-logo {
  flex: 2;
  padding: 5%;
}

.main-items-name {
  flex: 5;
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: left;
  font-size: small;
}

.cover-details {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  padding: 2em;
}

.cover-details-logo {
  width: 75%;
}

.cover-details-logo img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.cover-details-intro {
  margin-top:  2rem;
}

.cover-details-descript {
  width: 100%;
  font-weight: 500;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .main-image-display {
    width: 100% !important;
  }
}

@media screen and (min-width: 641px) and (max-width: 770px) {
  .main-image-lists {
    width: 35% !important;
  }

  .main-image-display {
    width: 65% !important;
  }
}

@media screen and (min-width: 771px) and (max-width: 1100px) {
  .main-image-lists {
    width: 25% !important;
  }

  .main-image-display {
    width: 75% !important;
  }
}
