<div class="message-chat">
  <div class="message-panel">
    <p style="margin: 0; text-align: center; font-size: small; color: gray; margin-bottom: 10px;">
      {{ today }}
    </p>
    <!-- messages go here -->
    <div class="message-box">
      <p class="sender">Hello</p>
    </div>
    <!-- <img src="../../../assets/images/profile_img.jpg" alt="profile_img"/> -->
    <div class="message-box">
      <div class="chat-grid-container">
        <div class="chat-grid-item">
          <div class="chat-image-item">
            <img src="../../../assets/images/profile_img.jpg" alt="profile_img"/>
          </div>
        </div>
        <div class="chat-grid-item">
          <div class="chat-info-item">
            <span class="chat-name">Soravit Varanich</span>
          </div>
        </div>
        <div class="chat-grid-item">
            <span class="chat-date">11:20</span>
        </div>
      </div>
      <p class="receiver">Hello</p>
    </div>
    <div class="message-box">
      <div className="loading">
        <div class="loading-text">
          <span class="dot">.</span><span class="dot">.</span><span class="dot">.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="message-panel-footer">
    <div class="new-message">
      <div class="new-message-text">
        <div
          #newMessage
          title="Type a new message"
          contenteditable="true"
          tabindex="0"
          spellcheck="true"
          role="textbox"
          aria-multiline="true"
          aria-placeholder="Type a new message"
          (keyup.enter)="onSendButtonClick()"
        ></div>
      </div>
      <div class="new-message-button">
        <div class="send-button">
          <apps-button
            [label]="'Send'"
            [icon]="'send'"
            [isActive]="true"
            [borderRadius]="'20%'"
            [padding]="'3px'"
            (click)="onSendButtonClick()"
          ></apps-button>
        </div>
      </div>
    </div>
  </div>
</div>
