<div class="message-chat">
  <div class="message-panel">
    <p class="currentDate">{{ today }}</p>
    <!-- messages go here -->
  </div>
  <div class="message-panel-footer">
    <div class="new-message">
      <div class="new-message-text">
        <div
          #newMessage
          title="Type a new message"
          contenteditable="true"
          tabindex="0"
          spellcheck="true"
          role="textbox"
          aria-multiline="true"
          aria-placeholder="Type a new message"
          (keydown.enter)="onNewMessageKeyDown()"
          (keyup.enter)="onSendButtonClick(textMessage)"
        ></div>
      </div>
      <div class="new-message-button">
        <div class="send-button">
          <apps-button
            [width]="'100%'"
            [height]="'100%'"
            [icon]="'send'"
            [isActive]="true"
            [borderRadius]="'30%'"
            [padding]="'0px'"
            (click)="onSendButtonClick()"
          ></apps-button>
        </div>
      </div>
    </div>
  </div>
</div>
