<div class="message-chat">
  <div class="message-panel">
    <p
      style="
        margin: 0;
        text-align: center;
        font-size: small;
        color: gray;
        margin-bottom: 10px;
      "
    >
      {{ today }}
    </p>
    <!-- messages go here -->
  </div>
  <div class="message-panel-footer">
    <div class="new-message">
      <div class="new-message-text">
        <div
          #newMessage
          title="Type a new message"
          contenteditable="true"
          tabindex="0"
          spellcheck="true"
          role="textbox"
          aria-multiline="true"
          aria-placeholder="Type a new message"
          (keydown.enter)="onNewMessageKeyDown()"
          (keyup.enter)="onSendButtonClick(textMessage)"
        ></div>
      </div>
      <div class="new-message-button">
        <div class="send-button">
          <apps-button
            [label]="'Send'"
            [icon]="'send'"
            [isActive]="true"
            [borderRadius]="'20%'"
            [padding]="'3px'"
            (click)="onSendButtonClick()"
          ></apps-button>
        </div>
      </div>
    </div>
  </div>
</div>
