<nav class="app-portrait-bar">
  <ul>
    <li class="fl-1" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <apps-button
          routerLink="/"
          [label]="'Chat'"
          [icon]="'chat'"
          [isActive]="isActive('/')"
        />
    </li>
    <li  class="fl-1" routerLinkActive="active">
      <apps-button
        routerLink="/work"
        [label]="'work'"
        [icon]="'work_history'"
        [isActive]="isActive('/work') || isActive('/work?projects=fxforwards')"
      />
    </li>
    <!-- <li  class="fl-1" routerLinkActive="active">
      <apps-button
        routerLink="/project"
        [label]="'project'"
        [icon]="'handyman'"
        [isActive]="isActive('/project')"
      />
    </li> -->
  </ul>
</nav>
