<div class="main-content justify-center align-items-center">
  <div class="dev-progress-warning">
    ⚠️👷🏗️ DEVELOPMENT IN PROGRESS...
  </div>
  <div class="container" style="opacity: 0.3;">
    <div class="carousel mt-20">
      <div class="main-image-display">
        <div class="container-image">
          <img src="../../../assets/images/lseg_work_cover.png" alt="cover-image" />

          <div class="cover-details">
            <div class="cover-details-logo">
              <img src="../../../assets/images/lseg_logo.png" alt="cover-details-logo" />
            </div>
            <div class="cover-details-intro">
              LSEG: Global Leaders in Financial Infrastructure, Fostering Innovation and Economic Growth.
            </div>
            <div class="cover-details-descript">
              <div>
                Position: Software Engineer
              </div>
              <div>
                Start: 1 Oct 2021 - 30 April 2023
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-image-lists">
        <div class="main-image-items">
          <div class="main-items-logo">
            <div class="container-image">
              <img src="../../../assets/images/lseg_icon.jpg" alt="cover-details-logo" style="border-radius: 10px;" />
            </div>
          </div>
          <div class="main-items-name">
            London Stock Group Exchange
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
