<div style="background-color: #151516; min-height: 100%; min-width: 100%;">
  <div class="app-fxforward">
    <mat-progress-bar [value]="progressValue"></mat-progress-bar>
    <div class="app-header">
      <div class="d-flex align-items-center">
        <span [class]="'currency-flag-dark currency-flag fi fi-' + ccy1FlagCode"></span>
        <span [class]="'currency-flag-soft currency-flag fi fi-' + ccy2FlagCode"></span>
        <span class="font-500 ml-5"> {{ currency1 + "/" + currency2 }}</span>
      </div>
      <div class="info">
        <div class="pulse" *ngIf="false">
          <mat-icon fontIcon="info" style="z-index: 1000px; color: #fff;"></mat-icon>
        </div>
      </div>
    </div>
    <div class="app-input-panel">
      <diV class="app-input-container">
        <div class="app-input-currency">
          <div>
            <input #currencyPairElement class="app-input mr-20" [value]="currencyPair" (blur)="handleCurrencyChanged()" (keydown.enter)="handleCurrencyChanged()">
          </div>
          <div class="app-flavor-button">
            <div>
              <label class="mr-20">Calculate:</label>
              <button class="app-button" [class.app-button-active]="isCalFxForwardsActive" (click)="activateButton('calFxForwards')">FX Forwards</button>
              <button class="app-button" [class.app-button-active]="isCalRatesActive" (click)="activateButton('calRates')">Rates</button>
            </div>
            <div>
              <label class="mr-20">From:</label>
              <button class="app-button" [class.app-button-active]="isFromFxForwardsActive" (click)="activateButton('fromFxForwards')">FX Forwards</button>
              <button class="app-button" [class.app-button-active]="isFromRatesActive" (click)="activateButton('fromRates')">Rates</button>
            </div>
          </div>
        </div>
        <div class="app-input-date-container">
          <div class="app-input-date-container-left">
            <div class="app-input-date">
              <label class="mr-20 d-flex justify-center align-items-center">
                Trade Date
              </label>
              <div class="date-picker-container">
                <input
                title="Input your date for calculating"
                matInput
                [matDatepicker]="picker"
                class="date-input"
                [(ngModel)]="tradeDate"
                (dateChange)="onDateChange($event)"
                >
                <mat-datepicker-toggle matSuffix [for]="picker" class="date-input-toggle"></mat-datepicker-toggle>
                <mat-datepicker #picker ></mat-datepicker>
              </div>
            </div>
            <div>
              <label class="mr-20">
                Value Date
              </label>
              <label class="value-date">
                {{ valueDate }}
              </label>
            </div>
          </div>
          <div class="app-input-date-container-right" *ngIf="isNormalResulation">
            <div class="currency-spot">
            <label class="mb-10 font-500">{{ currency1 }}/USD Spot</label>
            <div class="d-flex flex-direction-row">
              <input class="app-input-value" [value]="currencyPairData[0].currency1_USD_swap_points$ | async">
              <input class="app-input-value" [value]="currencyPairData[0].currency2_USD_swap_points$ | async">
            </div>
            </div>
            <div class="currency-spot">
              <label class="mb-10 font-500">{{ currency2 }}/USD Spot</label>
              <div class="d-flex flex-direction-row">
                <input class="app-input-value" [value]="currencyPairData[0].currency2_USD_swap_points$ | async">
                <input class="app-input-value" [value]="currencyPairData[0].currency1_USD_swap_points$ | async">
              </div>
            </div>
            <div class="currency-spot">
              <label class="mb-10 font-500">{{ currency1 }}/{{ currency2 }} Spot</label>
              <div class="d-flex flex-direction-row">
                <input class="app-input-value" [value]="currencyPairData[0].currency1_currency2_swap_points$ | async">
                <input class="app-input-value" [value]="currencyPairData[0].currency1_currency2_outrights$ | async">
              </div>
            </div>
          </div>
        </div>
      </diV>
    </div>
    <mat-expansion-panel togglePosition="before" *ngIf="isNormalResulation">
      <mat-expansion-panel-header>
        Calculation Parameters
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <div class="app-calulation">
          <div class="app-menu mt-5">
            <button class="app-button app-button-active">Market Inputs</button>
          </div>
          <div class="app-menu-item-container">
            <div class="app-menu-items">
              <label>Reference</label>
              <button class="app-button">USD</button>
            </div>
            <div class="app-menu-items">
              <label>IMM Periods</label>
              <button class="app-button" (click)="immPeriods = (immPeriods === 'No') ? 'Yes' : 'No'">{{ immPeriods }}</button>
            </div>
            <div class="app-menu-items">
              <label>Swap Points Interpolation</label>
              <button class="app-button">Linear</button>
            </div>
            <div class="app-menu-items">
              <label>Odd Periods</label>
              <button class="app-button" (click)="oddPeriods = (oddPeriods === 'No') ? 'Yes' : 'No'">{{ oddPeriods }}</button>
            </div>
            <div class="app-menu-items">
              <label>Roll-Over</label>
              <label>New York 5 PM</label>
            </div>
            <div class="app-menu-items"></div>
            <div class="app-menu-items">
              <label>Long Periods</label>
              <button class="app-button" (click)="longPeriods = (longPeriods === 'No') ? 'Yes' : 'No'">{{ longPeriods }}</button>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel togglePosition="before" [expanded]="true">
      <mat-expansion-panel-header>
        Standard Periods
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <table class="app-table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col" class="header">Period</th>
              <th scope="col"></th>
              <th scope="col" colspan="2" class="header">{{ currency1 }}/{{ currency2 }} Dates</th>
              <th scope="col" *ngIf="isNormalResulation">Day</th>
              <th scope="col" colspan="2" class="header">{{ currency1 }}/USD Swap Points</th>
              <th scope="col" colspan="2" class="header">{{ currency2 }}/USD Swap Points</th>
              <th scope="col" colspan="2" *ngIf="isNormalResulation" class="header">{{ currency1 }}/{{ currency2 }} Swap Points</th>
              <th scope="col" colspan="2" *ngIf="isNormalResulation" class="header">{{ currency1 }}/{{ currency2 }} Outrights</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of currencyPairData; let i = index" [ngClass]="{ 'odd-row': i % 2 !== 0, 'even-row': i % 2 === 0 }">
              <td>
                <input type="checkbox" class="checkbox">
              </td>
              <td class="period">{{ item.period }}</td>
              <td class="day-off-color">{{ item.day }}</td>
              <td class="market-color">{{ item.currency1_currency2_dates.start_date | date: 'd MMM y' }}</td>
              <td class="market-color">{{ item.currency1_currency2_dates.end_date | date: 'd MMM y' }}</td>
              <td class="market-color" *ngIf="isNormalResulation">{{ item.day_value }}</td>
              <td *ngIf="isNormalResulation"><input class="app-input-value w-100" [value]="item.currency1_USD_swap_points$ | async"></td>
              <td *ngIf="isNormalResulation"><input class="app-input-value" [value]="item.currency2_USD_swap_points$ | async" style="float: left;"></td>
              <td *ngIf="isNormalResulation"><input class="app-input-value" [value]="item.currency1_USD_swap_points$ | async"></td>
              <td *ngIf="isNormalResulation"><input class="app-input-value" [value]="item.currency2_USD_swap_points$ | async" style="float: left;"></td>
              <td class="market-color" *ngIf="!isNormalResulation">{{ item.currency1_USD_swap_points$ | async }}</td>
              <td class="market-color" *ngIf="!isNormalResulation">{{ item.currency2_USD_swap_points$ | async }}</td>
              <td class="market-color" *ngIf="!isNormalResulation">{{ item.currency1_USD_swap_points$ | async }}</td>
              <td class="market-color" *ngIf="!isNormalResulation">{{ item.currency2_USD_swap_points$ | async }}</td>
              <td class="market-color" *ngIf="isNormalResulation">{{ item.currency1_currency2_swap_points$ | async }}</td>
              <td class="market-color" *ngIf="isNormalResulation">{{ item.currency1_currency2_outrights$ | async }}</td>
              <td class="market-color" *ngIf="isNormalResulation">{{ item.currency1_currency2_swap_points$ | async }}</td>
              <td class="market-color" *ngIf="isNormalResulation">{{ item.currency1_currency2_outrights$ | async }}</td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel togglePosition="before" [expanded]="true" *ngIf="isNormalResulation">
      <mat-expansion-panel-header>
        Broken Dates
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <table class="app-table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Start</th>
              <th scope="col">End</th>
              <th scope="col">Day</th>
              <th scope="col"></th>
              <th scope="col" colspan="2">{{ currency1 }}/USD Swap Points</th>
              <th scope="col" colspan="2">{{ currency2 }}/USD Swap Points</th>
              <th scope="col" colspan="2">{{ currency1 }}/{{ currency2 }} Swap Points</th>
              <th scope="col" colspan="2">{{ currency1 }}/{{ currency2 }} Outrights</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of currencyPairData | slice:0:5; let i = index" [ngClass]="{ 'odd-row': i % 2 !== 0, 'even-row': i % 2 === 0 }">
              <td>
                <input type="checkbox" class="checkbox">
              </td>
              <td>
                <input class="app-input" [value]="i === 4 ? '3M' : 'Spot'" style="width: 80px;" disabled>
                  <mat-icon fontIcon="today" style="position: relative; right: 25px; top: 8px;"></mat-icon>
              </td>
              <td>
                <input class="app-input" [value]="i + 1 +'M'" style="width: 80px;" disabled>
                  <mat-icon fontIcon="today" style="position: relative; right: 25px; top: 8px;"></mat-icon>
              </td>
              <td class="market-color">{{ item.day_value }}</td>
              <td class="day-off-color">{{ item.day }}</td>
              <td><input class="app-input-value w-100" [value]="item.currency1_USD_swap_points$ | async"></td>
              <td><input class="app-input-value" [value]="item.currency2_USD_swap_points$ | async" style="float: left;"></td>
              <td><input class="app-input-value" [value]="item.currency1_USD_swap_points$ | async"></td>
              <td><input class="app-input-value" [value]="item.currency2_USD_swap_points$ | async" style="float: left;"></td>
              <td class="market-color">{{ item.currency1_currency2_swap_points$ | async }}</td>
              <td class="market-color">{{ item.currency1_currency2_outrights$ | async }}</td>
              <td class="market-color">{{ item.currency1_currency2_swap_points$ | async }}</td>
              <td class="market-color">{{ item.currency1_currency2_outrights$ | async }}</td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </mat-expansion-panel>
    <div class="app-bottom">
      updated: {{ currentTime }}
    </div>
  </div>
</div>
