<div class="h-100 border-red" style="background-color: #151516;">
  <div class="app-header border-red">
    <span class="fi fi-eu"></span> <span class="fi fi-gb"></span>
  </div>
  <div class="app-input border-red">

  </div>
  <mat-expansion-panel togglePosition="before">
    <mat-expansion-panel-header>
      Calculation Parameters
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div class="app-calulation border-red">

      </div>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel togglePosition="before">
    <mat-expansion-panel-header>
      Standard Periods
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <table class="app-table border-red">
        <thead>
          <tr>
            <th scope="col">Period</th>
            <th scope="col">Currency Dates</th>
            <th scope="col">Day</th>
            <th scope="col">Ccy1 Swap Points</th>
            <th scope="col">Ccy2 Swap Points</th>
            <th scope="col">Ccy1/Ccy2 Swap Points</th>
            <th scope="col">Ccy1 Outrights</th>
          </tr>
        </thead>
        <tbody style="height: 200px;">

        </tbody>
      </table>
    </ng-template>
  </mat-expansion-panel>
</div>
