.apps-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.apps-button.select {
  background-color: #F3FC8A;
  color: black;
  transition: background-color 0.3s ease-in-out;
}

// .apps-button.select:hover {
//   background-color: #C2DFFF;
// }

// .apps-button.select.active {
//   background-color: #C2DFFF;
// }

.apps-button-label {
  font-size: 0.7rem;
}
