:host {
  flex: 1 1 auto;
}

.content {
  color: #b5b5b5;
}

.contact {
  width: 50%;
  cursor: pointer;
  margin-top: 20px;
}

.contact-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: 500;
  width: 100%;
  height: 55px;
  background-color: #202020;
  border-radius: 20px;
  margin: 10px;
  margin-left: 0px;
  transition: background-color 0.3s, color 0.3s;
}

.contact-item:hover {
  background-color: #F3FC8A;
  color: #202020;
}

.profile {
  display: flex;
  height: 480px;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
}

.profile-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: calc(100% - 30px);
  padding: 10px;
}

.profile-deatils-50 {
  width: 50%;
}

.profile-deatils-100 {
  width: 100%;
}

.profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.profile-img img {
  width: 80%;
  height: 90%;
  border-radius: 10px;
  overflow: hidden;
}

.header {
  margin-bottom: 25px;
}

.header h1 {
  font-size: 36px;
}

.header h1 label {
  color: #F3FC8A;
}
