<div class="main-content justify-center align-items-center">
  <div class="container">
    <div class="profile">
      <div class="profile-flex-container">
        <div class="profile-intro">
          <div class="intro-box">
            <div class="intro-header">
            </div>
            <div class="intro-content">
              <div class="header">
                Hi!
              </div>
              <div class="header">
                I'm
              </div>
              <div class="header">
                Soravit
              </div>
              <div>
                Crafting intuitive software experiences loved by users and developers alike. Tech Stack, I experienced <b>React</b>, <b>React Native</b>, <b>Angular</b>, <b>Node JS</b>, and other modern tech stacks.
              </div>
            </div>
            <div class="intro-bottom">
              <label class="email" (click)="openLink('mailto:soravit.var@hotmail.com')">soravit.var&#64;hotmail.com</label>
            </div>
          </div>
        </div>
        <div class="profile-nav-con">
          <div class="profile-nav">
            <div class="grid-item">
              <div title="React JS & React Native" class="item-1 d-flex justify-center align-items-center">
                <div class="grid-container-image">
                  <img alt="react" src="../../../assets/images/react.svg" />
                </div>
              </div>
            </div>
            <div class="grid-item">
              <div title="Angular"  class="item-2 d-flex justify-center align-items-center">
                <div class="grid-container-image">
                  <img alt="angular" src="../../../assets/images/angular.svg" />
                </div>
              </div>
            </div>
            <div class="grid-item" [class]="!isPortraitView ? 'row-span-2' : ''">
              <div class="item-3" (click)="openLink('/work')">
                <label class="number">
                  1
                </label>
                <div class="font-content">
                  <label class="underline-dashed cursor-pointer">Project</label>
                </div>
              </div>
            </div>
            <div class="grid-item" [class]="!isPortraitView ? 'col-span-2 row-span-2' : ''">
              <div class="item-4 d-flex justify-center align-items-center" (click)="openLink('/work', { projects: 'fxforwards' })">
                <div class="font-header">
                  <label class="underline-dashed cursor-pointer">FXForwards</label>
                </div>
              </div>
            </div>
            <div class="grid-item" *ngIf="!isPortraitView">
              <div class="item-5 d-flex justify-center align-items-center">
                <div class="font-header">
                  <label class="underline-dashed cursor-pointer"></label>
                </div>
              </div>
            </div>
            <div class="grid-item">
              <div title="My Resume" class="item-6 d-flex justify-center align-items-center" (click)="openLink('/assets/files/resume.pdf')">
                <div class="grid-container-image">
                  <img alt="Resume" src="../../../assets/images/resume.svg" />
                </div>
              </div>
            </div>
            <div class="grid-item">
              <div title="Github" class="item-7 d-flex justify-center align-items-center" (click)="openLink('https://github.com/sarpound')">
                <div class="grid-container-image">
                  <img alt="Github" src="../../../assets/images/github.svg" />
                </div>
              </div>
            </div>
            <div class="grid-item">
              <div title="Linkedin"  class="item-8 d-flex justify-center align-items-center" (click)="openLink('https://www.linkedin.com/in/soravit-varanich')">
                <div class="grid-container-image">
                  <img alt="Linkedin" src="../../../assets/images/linkedin.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
