<nav class="app-bar">
  <ul class="flex-fill">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" style="margin-top: 0;">
        <apps-button
          routerLink="/"
          [label]="'Chat'"
          [icon]="'chat'"
          [isActive]="isActive('/')"
        />
    </li>
    <li routerLinkActive="active">
      <apps-button
        routerLink="/work"
        [label]="'work'"
        [icon]="'work_history'"
        [isActive]="isActive('/work') || isActive('/work?projects=fxforwards')"
      />
    </li>

    <!-- <li routerLinkActive="active">
      <apps-button
        routerLink="/project"
        [label]="'project'"
        [icon]="'handyman'"
        [isActive]="isActive('/project')"
      />
    </li> -->
  </ul>
</nav>
