<nav class="app-bar">
  <ul class="flex-fill">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" style="margin-top: 0;">
      <apps-button
        routerLink="/"
        [label]="'About'"
        [icon]="'face'"
        [isActive]="isActive('/')"
      />
    </li>
    <li routerLinkActive="active">
      <apps-button
        routerLink="/work"
        [label]="'Work'"
        [icon]="'work_history'"
        [isActive]="isActive('/work')"
      />
    </li>
    <li routerLinkActive="active">
      <apps-button
        routerLink="/chat"
        [label]="'Chat'"
        [icon]="'chat'"
        [isActive]="isActive('/chat')"
      />
  </li>
  </ul>
</nav>
