<div class="user-welcome">
  <div class="user-grid-container">
    <div class="user-grid-item">
      <div class="user-info-item">
        <div class="d-flex space-between">
          <span class="user-name">Good evening</span>
        </div>
        <span class="user-status">Hope you're having a good day!</span>
      </div>
    </div>
    <div class="justify-start">
      <div class="user-image-item">
        <img src="../../../assets/images/user_image.png" />
      </div>
    </div>
  </div>
</div>
