<div class="message-box">
  <div class="chat-list" (click)="toggleChatPanel()">
    <div class="chat-grid-container over-flow-hidden">
      <div class="chat-grid-item">
        <div class="chat-image-item">
          <img src="../../../assets/images/profile_img.jpg" alt="profile_img"/>
        </div>
      </div>
      <div class="chat-grid-item">
        <div class="chat-info-item">
          <div class="d-flex space-between">
            <span class="chat-name">Soravit Varanich</span>
            <span class="chat-date">{{ currentMsgTime }}</span>
          </div>
          <span class="chat-message">{{ currentMessage }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
