<div class="message-box">
  <div class="chat-list">
    <div class="chat-grid-container">
      <div class="chat-grid-item">
        <div class="chat-image-item">
          <img src="../../../assets/images/profile_img.jpg" alt="profile_img"/>
        </div>
      </div>
      <div class="chat-grid-item">
        <div class="chat-info-item">
          <div class="d-flex space-between">
            <span class="chat-name">Soravit Varanich</span>
            <span class="chat-date">11:20</span>
          </div>
          <span>Message...</span>
        </div>
      </div>
    </div>
  </div>
</div>
